@use '../style/helpers' as*;

.dropdown{
  position: relative;
  width: rem(280);
  grid-column: 5 / span 1;  

    @include tablet{
        grid-column: 3 / span 1;  
    }
    @include mobile{
        grid-column: 1 / span 1;  

    }
  &__toggle {
        width: 100%;
        padding: rem(6) 0;
        font-size: rem(16);
        text-align: left;
        border: none;
        border-bottom: rem(2) solid #AEADAE;
        background: transparent;
        cursor: pointer;
        position: relative;
        outline: none;
        transition: border-bottom 0.3s ease;

        &:hover {
        border-bottom: rem(2) solid var(--color-accent);
        }
    }

    &__arrow {
    position: absolute;
    right: rem(12);
    top: 50%;
    width: 0;
    height: 0;
    border-left: rem(6) solid transparent;
    border-right: rem(6) solid transparent;
    transform: translateY(-50%);
    transition: transform 0.3s ease;
    }

    &__down {
        border-top: 6px solid var(--color-accent);
    }

    &__up {
        border-bottom: 6px solid var(--color-accent);
        border-top: none;
    }

    &__list {
        position: absolute;
        width: 100%;
        background: white;
        max-height: rem(150);
        overflow-y: auto;
        margin: 0;
        padding: 0;
        list-style: none;
        z-index: 1000;
    }

    &__option {
        padding: rem(14) rem(8);
        cursor: pointer;
        font-size: rem(16);
        

        &:hover {
            background-color: var(--color-accent);
            color: var(--color-light);
        }
    }

    &__disabled {
    color: #999;
    cursor: default;
    }


}

