*,
*::before,
*::after{
    box-sizing: border-box;
}


.page__body{
    font-family: var(--font-family);
    background-color: #FAC770;
}

.page--calc__body{
        font-family: var(--font-family);
        background-color: #D0F0E4;
}
.container{
    margin: 0 auto;
    padding: 0 var(--container-offset);
    max-width: calc(var(--container-width) + (var(--container-offset) * 2));  
}


.list-reset{
  margin: 0;
  padding: 0;
  list-style: none;  
}

.btn-reset{
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

a{
    text-decoration: none;
}

.btn-reset{
    border: none;
    background: transparent;
    padding: 0;
    cursor: pointer;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0);
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}


.stop-scroll{
    overflow: hidden;
}